#turn {
  position: absolute;
  z-index: 1000;
  font-family: sans;
  width: 30%;
  margin-left: 65%;
  margin-right: 5%;
  font-size: 1.5em;
  float: right;
  background-color: #ddd;
  text-align: right;
  color: white;
}

body {
  background-color: #ddd;
}
