#info {
  position: absolute;
  z-index: 1000;
  width: 30%;
  margin-left: 65%;
  margin-right: 5%;
  font-size: 1.5em;
  float: right;
  background-color: #ddd;
  text-align: right;
  display: none;
}

#game {
  display: none;
}

#lobby {
  display: none;
}

#rooms {
  display: none;
}

.indented {
  margin-left: 20px;
}

#new-room-ui {
  display: none;
}

body {
  background-color: #ddd;
  font-family: sans;
  color: black;
}
